extends layout

block content
  #banner.page-header
    .rowa
      .col-xs-12
        h1= title
  .row
    .col-md-6.col-xs-12
      .form-group
        label(for="routeFrom") Хаанаас
        select.form-control#routeFrom
          option Улаанбаатар
          option Улаангом
          option Дархан
          option Ховд
          option Баян-Өлгий
        label(for="routeTo") Хаашаа  
        select.form-control#routeTo
          option Улаанбаатар
          option Улаангом
          option Дархан
          option Ховд
          option Баян-Өлгий
        label(for="routeDate") Хэзээ  
        select.form-control#routeTo
          option 2017-10-13 19:00 [УБ.Сонгинохайрхан - Том автобус]
          option 2017-10-14 07:30 [УБ.Сонгинохайрхан - Том автобус]
          option 2017-10-15 07:30 [УБ.Сонгинохайрхан - Том автобус]
          option 2017-10-15 19:00 [УБ.Сонгинохайрхан - Том автобус]
          option 2017-10-16 07:30 [УБ.Сонгинохайрхан - Том автобус]
          option 2017-10-17 07:30 [УБ.Сонгинохайрхан - Том автобус]
    .col-md-6.col-xs-12
      strong Тухайн чиглэлд явж буй автобуснууд:
      ul.result
      -for(var i = 0; i < 5; i ++){
        li 1234АБВ
      -}
