extends layout

block content
  #banner.page-header
    .rowa
      .col-xs-12
        h1= title
  .row
    .col-xs-12
      .form-group
        input#licenseId.form-control(type='text', placeholder='1234АБВ')
      
  .row
    .col-xs-12
      img.img-rounded.img-responsive(src='/images/map.png')
