<navigation></navigation>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p><i>Энэ систем нь замдаа явж буй хот хоорондын зорчигч тээврийн хэрэгслүүдын байршлын мэдээллийг газрын зураг дээр дүрслэн харуулахад зориулагдсан.</i></p>
      
      <p>Доорх талбарт хот хооронд зорчигч тээврийн хэрэгслийн улсын дугаарыг бичиж хайх товчийг дарснаар тухайн тээврийн хэрэгслийн газрын зураг дээрх байршлын мэдээллийг авах боломжтой. Хот хооронд зорчих тээврийн хэрэгслийн мэдээллийг <a href="#/route">Чиглэл</a> хэсгээс авна уу.</p>

      <div class="row">
	<div class="col-xs-6">
	  <input type="text" class="form-control" placeholder="ува1234" ng-model="vm.licenceNumber"/>
	</div>
	<div class="col-xs-2">
	  <button type="button" class="btn" ng-click="vm.search(vm.licenceNumber)">Хайх</button>
	</div>
      </div>
      <br>
      <strong>{{vm.searchMessage}}</strong><br><br>
      <p>Газрын зураг дээр автобусны байршилыг <strong>ногоон</strong> тэмдэглэгээгээр дүрслэв.</p>
      <iframe ng-src="{{vm.mapUrl}}">
    </div>
  </div>
</div>
